html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.container {
  width: 320px;
  margin: 0 auto;
}
.site-background {
  text-align: center;
  width: 320px;
  height: 540px;
  font-size: 14px;
  margin: 0 auto;
  padding: 0;
  color: white;
  background-image: url(../img/background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 70px;
}

.login {
  margin: 0;
  padding: 0;
  padding-top: 34px;
  list-style: none;
  margin-bottom: 136px;
  display: flex;
  justify-content: center;
}

.login-item {
  display: block;
  margin: 0;
  text-decoration: none;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid transparent;
  border-radius: 20px;
}
.login-item:hover {
  border: 2px solid white;
  border-radius: 20px;
}
.logo:hover {
  border: 2px solid white;
  border-radius: 20px;
}
.sign-up {
  margin-right: 0;
}
.logo {
  border: 2px solid transparent;
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.search:hover {
  box-shadow: 0px -1px 10px 4px #4effbe;
}
.other-partners-link:hover {
  box-shadow: 0px -1px 10px 4px #4effbe;
}
.title {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 30px;
  margin-bottom: 12px;
}
.title-description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 18px;
}
.search {
  margin: auto;
  width: 280px;
  display: block;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: white;
  background: #ff4e50;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 50px;
  padding-right: 50px; */
  border-radius: 20px;
}
/* a:hover {
  box-shadow: 0px -1px 10px 4px #4effbe;
} */
a:focus {
  color: red;
}
.partners-title {
  font-size: 22px;
  margin: 0;
  text-align: center;
  margin-bottom: 18px;
}
.partners {
  margin: 0;
  padding: 0;
  text-align: center;

  list-style: none;
  margin-bottom: 30px;
}
.partners-item {
  margin-bottom: 30px;
  padding: 10px;
}
.partners-section {
  padding-bottom: 56px;
}

.partners-item:hover {
  box-shadow: 0px 0px 18px #253688;
  border-radius: 60px;
  box-shadow: 0px -1px 10px 4px #4effbe;
}
.name {
  color: black;
  font-size: 13, 97px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
.wrapper-img {
  width: 121px;
  height: 121px;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}
.partners-description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #666666;
  max-width: 220px;
  margin: 0 auto;

  font-size: 14px;
}
.partners-link {
  display: block;
}
.other-partners-link {
  width: 280px;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  text-decoration: none;
  color: #ff4e50;
  padding-top: 12px;
  padding-bottom: 12px;
  /* padding-left: 68px;
  padding-right: 68px; */
  border: 2px solid #ff4e50;
  border-radius: 20px;
}
.for_link {
  text-align: center;
}
.icons {
  width: 38px;
  height: 38px;
  border: 4px solid white;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  bottom: -4px;
}
.icon-tv {
  background: #ff4e50;
  background-image: url(../img/icon-tv.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-flask {
  background: #ffa507;
  background-image: url(../img/icon-flask.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-cup {
  background: #1cd7ad;
  background-image: url(../img/icon-cup.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-plane {
  background: #4e73db;
  background-image: url(../img/icon-plane.png);
  background-repeat: no-repeat;
  background-position: center;
}
